
<a href="/">HOME</a>
<div class="" align="center">
  <h1>Sign Up For Free</h1>
  <form class="" action="/profile/property_owner" method="post">
    <div class="">
      <label for="">First Name</label>
      <input type="text" name="first_name">
    </div>
    <br>
    <div class="">
      <label for="">Last Name</label>
      <input type="text" name="last_name">
    </div>
    <br>
    <div class="">
      <label for="">Address</label>
      <input type="text" name="address">
    </div>
    <br>
    <div class="">
      <label for="">Email</label>
      <input type="text" name="email">
    </div>
    <br>
    <div class="">
      <label for="">Password</label>
      <input type="text" name="password">
    </div>
    <br>
    <div class="">
      <label for="">Type</label>
      <input type="text" name="type">
    </div>
    <br>
    <button type="submit">Create Account</button>
  </form>
</div>
