<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Log Out</a>
    PROPERTY OWNER
    PROFILE PROFILE PROFILE
    {{propertyownerinfo}}
  </body>
</html>
