<div class="coverall" style="background-image:url('https://cms.inspirato.com/ImageGen.ashx?image=%2Fmedia%2F9398795%2Fgettyimages-498798436.jpg&compression=50&width=676');background-repeat:no-repeat;background-size:cover;height:650px;">
      <a style="color:white;" href="/">HOME</a>
      <div class="" align="left" style="margin-left:100px;border:5px solid white;width:350px;background-color:white;opacity:0.8;">
        <h1 style="margin-left:52px;">Sign Up For Free</h1>
        <form class="" action="/signup/service_provider" method="post">
          <div class="" style="margin-left:41px;">
            <label style="color:black;" for="">Company Name</label>
            <input style="height:25px;" type="text" name="company_name" required>
          </div>
          <br>
          <div class="">
            <label style="color:black;" for="">Number of Employees</label>
            <input style="height:25px;" type="integer" name="employee_count" required>
          </div>
          <br>
          <div class="" style="margin-left:28px;">
            <label style="color:black;" for="">Company Webiste</label>
            <input style="height:25px;" type="text" name="company_website" required>
          </div>
          <br>
          <div class="" style="margin-left:93px;">
            <label style="color:black;" for="">Address</label>
            <input style="height:25px;" type="text" name="address" required>
          </div>
          <br>
          <div class="" style="margin-left:107px;">
            <label style="color:black;" for="">Email</label>
            <input style="height:25px;" type="text" name="email" required>
          </div>
          <br>
          <div class="" style="margin-left:83.5px;">
            <label style="color:black;" for="">Password</label>
            <input style="height:25px;" type="password" name="password" required>
          </div>
          <br>
          <button style="margin-left:127px;" type="submit">Create Account</button>
        </form>
      </div>
    </div>
